/* selection color */
::selection {
    color: white;
    background: #2d3748;
  }

/* hiding scroll-bar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  width: 0;
  background: green; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/* easy scroll */
html{
  scroll-behavior:smooth;
}

*{
  text-align: center;
}